<!DOCTYPE html>
<html>
  <head>
    <title>Tambah Pelanggan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tambah Pelanggan</h1>
    <form action="/customer/add" method="POST">
        Kode: <input type="text" name="customer_code" /><br/>
        Nama: <input type="text" name="customer_name" /><br/>
        Telepon: <input type="text" name="phone" /><br/>
        <button type="submit"> Submit</button>

    </form>

  </body>
</html>
